{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      {% block css_block %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container">
        <ul class="navbar-nav" style="width: 100%">
          <li class="nav-item ml-2">
            <a class="nav-link btn-sm text-light" href="{% url 'App_Home:home' %}">Home</a>
          </li>

          <li class="nav-item ml-2">
            <a class="nav-link btn-sm text-light" href="{% url 'App_Home:cat' %}">Categories</a>
          </li>

          {% if user.is_authenticated %}
          <li class="nav-item dropdown ml-2">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if user.profile.profile_pic %}
              <img src='/media/{{ user.profile.profile_pic }}' width="30" height="30" class="rounded-circle">
              {% else %}
              <img src='/media/default.png' width="30" height="30" class="rounded-circle">
              {% endif %}
            </a>
            <div class="dropdown-menu" aria-labelledby="nabbarDropdown">
              <a class="dropdown-item" href="{% url 'App_Login:profile' %}">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'App_Login:logout' %}">Logout</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item ml-2">
            <a class="nav-link btn-sm text-light" href="{% url 'App_Login:login' %}">Login</a>
          </li>

          <li class="nav-item ml-2">
            <a class="nav-link btn-sm text-light" href="{% url 'App_Login:signup' %}">Signup</a>
          </li>
          {% endif %}


          <form action="{% url 'App_Home:home' %}" class="form-inline ml-auto" method="GET">
            <input required class="form-control mr-sm-2" type="text" name="search" value="{% if search %}{{search}}{% endif %}" placeholder="Search">
            <button class="btn btn-info" type="submit">Search</button>
          </form>


        </ul>
      </div>
    </nav>

    <div class="container" style="margin-bottom: 90px;">
      <div class="messages mt-2">
        {% if messages %}
          {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %} role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
          {% endfor %}
        {% endif %}
      </div>

    {% block body_block %}{% endblock %}
    </div>

    <footer class="card-footer bg-dark text-center" style="position: fixed; bottom: 0; left:0; width: 100%; height: 70px;">
      <p style="font-size: 18px;" class="py-2 text-light">Designed and developed by <a href="https://www.facebook.com/shuvosr/" target="_blank" style="color: #27ff0d"><strong>S.R. Shuvo</strong></a></p>
    </footer>
  </body>
</html>
